#ignore all workspace files
.code-workspace
assets/fonts/Carter_One.zip
assets/fonts/Dosis-VariableFont_wght.ttf
assets/fonts/Dosis.zip
assets/fonts/Exo.zip
assets/fonts/Gugi.zip
assets/fonts/OFL.txt
assets/fonts/README.txt
assets/fonts/Exo/Exo-Black.ttf
assets/fonts/Exo/Exo-BlackItalic.ttf
assets/fonts/Exo/Exo-Bold.ttf
assets/fonts/Exo/Exo-BoldItalic.ttf
assets/fonts/Exo/Exo-ExtraBold.ttf
assets/fonts/Exo/Exo-ExtraBoldItalic.ttf
assets/fonts/Exo/Exo-ExtraLight.ttf
assets/fonts/Exo/Exo-ExtraLightItalic.ttf
assets/fonts/Exo/Exo-Italic.ttf
assets/fonts/Exo/Exo-Light.ttf
assets/fonts/Exo/Exo-LightItalic.ttf
assets/fonts/Exo/Exo-Medium.ttf
assets/fonts/Exo/Exo-MediumItalic.ttf
assets/fonts/Exo/Exo-SemiBold.ttf
assets/fonts/Exo/Exo-SemiBoldItalic.ttf
assets/fonts/Exo/Exo-Thin.ttf
assets/fonts/Exo/Exo-ThinItalic.ttf
assets/fonts/Exo/OFL.txt
assets/fonts/Gugi/OFL.txt
assets/fonts/static/Dosis-Bold.ttf
assets/fonts/static/Dosis-ExtraBold.ttf
assets/fonts/static/Dosis-ExtraLight.ttf
assets/fonts/static/Dosis-Light.ttf
assets/fonts/static/Dosis-Medium.ttf
assets/fonts/static/Dosis-SemiBold.ttf
images/pattern.jpg
